<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-sm-2 col-md-3"></div>
		<!-- สร้าง col ฝั่งซ้ายเป็นช่องว่าง  md=midium -->
		<div class="col-sm-7 col-md-5">
			<!-- sm ไว้สำหรับปรับ tablet -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<!-- ทำให้หัว มีขนาดที่คลุมข้อความได้พอดี -->
						<div class="pull-left">ลงทะเบียนเข้าใช้ระบบ</div>
						<div class="pull-right">
							<a href="register.html"><span
								class="glyphicon glyphicon-plus"></span>สมัครสมาชิกใหม่</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">อีเมล์ (Email)</label> <input
								type="email" class="form-control" id="exampleInputEmail1"
								placeholder="Enter email">
						</div>
						<div class="form-group">
							<div class="clearfix">
								<!-- ทำให้หัว มีขนาดที่คลุมข้อความได้พอดี -->
								<div class="pull-left">
									<label for="exampleInputPassword1">รหัสผ่าน (Password)</label>
								</div>
								<div class="pull-right">
									<a href="forget.html">ลืมรหัสผ่าน<span
										class="glyphicon glyphicon-question-sign"></span></a>
								</div>
							</div>

							<input type="password" class="form-control"
								id="exampleInputPassword1" placeholder="Password">


						</div>

						<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
					</form>

				</div>
			</div>
		</div>
		<div class="cal-sm-3 col-md-4"></div>
		<!-- สร้าง col ฝั่งขวาเป็นช่องว่าง  -->
	</div>
</body>
</html>